/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
    background: #f2f2f2;
    padding: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover, a:focus{text-decoration: none;outline: none;}
/*End of the reset csss*/



.spacex-inner-wrapper h2{font-weight: 600;}

.spacex-innerfilter{background: #fff;border-radius: 10px;padding: 15px 15px 30px;margin-top: 20px;}
.spacexfilter-inneryear{display: flex;justify-content: space-between;flex-wrap: wrap;}
.individual-yearfilter{margin: 20px 0;}
.individual-yearfilter a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px 42px;border-radius: 5px;}
.individual-yearfilter.active a{background: #7cba00;font-weight: 600;}


.spacexfiter-year {padding-top: 10px;}
.common-filterhead{border-bottom: 1px solid #000;}
.common-filterhead h4{text-align: center;font-size: 16px;padding-bottom: 10px;}

.spacexfilter-launch{padding-top: 25px;}
.spacexfilter-innerlaunch{display: flex;justify-content: space-between;flex-wrap: wrap;}
.individualspacex-launch{margin: 20px 0px 15px;}
.individualspacex-launch a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px 42px;border-radius: 5px;}
.individualspacex-launch.active a{background: #7cba00;font-weight: 600;}

.spacexfilter-landing{padding-top: 25px;}
.spacexfilter-innerlanding{display: flex;justify-content: space-between;flex-wrap: wrap;}
.individualspacex-landing{margin: 20px 0px 15px;}
.individualspacex-landing a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px 42px;border-radius: 5px;}
.individualspacex-landing.active a{background: #7cba00;font-weight: 600;}


.individual-spacex{background: #fff;padding: 20px;border-radius: 10px;margin-top: 20px;}

.spacex-listing li{padding: 10px 0px 10px;}
.spacex-listing .spacex-label{max-width: 130px;display: inline-block;}
.spacex-listing .spacex-label b{font-weight: 600;font-size: 14px;}


.spacedeveloper-innerwrap{text-align: center;padding: 30px 0 10px;}
.spacedeveloper-innerwrap .developer-label{font-size: 16px;font-weight: 600;color: #000;}

.spacex-listing .spacex-content{font-weight: 600;font-size: 14px;}
.spacx-contentdiv .missin-name{font-weight: 600;font-size: 14px;min-height: 30px;}
.spacx-contentdiv{padding-top: 10px;}
.spacex-img-div{background: #f2f2f2;padding: 10px;}
.norecords{padding-top: 35px;font-size: 18px;}

/*Start of the media queries*/
@media(min-width:768px) and (max-width:991px){

.spacex-innerfilter{background: #fff;border-radius: 10px;padding: 15px 15px 30px;max-width: 200px;margin-top: 20px;}
    .individual-yearfilter a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px  20px;border-radius: 5px;}
.individualspacex-launch a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px 20px;border-radius: 5px;}
.individualspacex-landing a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px  20px;border-radius: 5px;}    
    
    
    .individual-spacex{width: 49%;display: inline-block;margin-right: 2px;}  
    .spacexinner-bottom-wrapper{display: flex;flex-wrap: wrap;}
    .right-spacex-wrap{width:calc(100% - 230px);margin-left:20px;}
    .norecords{display: flex;justify-content: center;align-items: center;height: 100vh;font-size: 22px;}
    
}/*End of the media*/
@media(min-width:992px){
    .spacex-innerfilter{background: #fff;border-radius: 10px;padding: 15px 15px 30px;max-width: 200px;margin-top: 20px;}
    .individual-yearfilter a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px  20px;border-radius: 5px;}
.individualspacex-launch a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px 20px;border-radius: 5px;}
.individualspacex-landing a{background: #cce5a3;color: #000;font-size: 14px;padding: 6px  20px;border-radius: 5px;}
    
.spacexinner-bottom-wrapper{display: flex;flex-wrap: wrap;}    
    .right-spacex-wrap{width:calc(100% - 230px);margin-left:20px;}
    .individual-spacex{width: 23.5%;display: inline-block;margin-right: 16px;vertical-align: top;}  
    .individual-spacex:nth-child(4n+4){margin-right: 0px;}
    
    .norecords{display: flex;justify-content: center;align-items: center;height: 100vh;font-size: 26px;}
    
}/*End of the media*/




/*end of the media queries*/
